<!DOCTYPE html>
<html>
    <head>
        <title>grade YEAR2</title>
        <link rel="stylesheet" href="../views/gradeshow.css">
    </head>
    <body>
        <ul>
        <img src="../picture/logo 3.png" width="134.76" height="46.43">
        <li><a class="active" href="/data">DATA EDITTING</a></li>
        <li><a href="/search">SEARCH</a></li>
        <li><a href="/grade">GRADE HOMEPAGE</a></li>
        <li><a href="/home">HOME</a></li>
        </ul>

        <h1>Student grade page</h1>
        <h2>Personal data</h2>
        <p>Student ID : <%= data.id %></p>
        <p>Name       : <%= data.name %></p>
        <p>Tel        : <%= data.tel %></p>
        <p>GPAX       : <%= data.gpax %></p>

        <h2>YEAR2 First semaster Table</h2>
        <table id="customers">
            <tr>
              <th>Subject</th>
              <th>Creidit</th>
              <th>Grade</th>
            </tr>
            <tr>
              <% for(var i=0; i<(data.year2sub1.length)-1; i+=3) {%>
                <tr>
                  <td><%= data.year2sub1[i] %></td>
                  <td><%= data.year2sub1[i+1] %></td>
                  <td><%= data.year2sub1[i+2] %></td>
                </tr>
              <% }%>
            </tr>
            <tr>
              <td></td>
              <td>GPA</td>
              <td><%= data.year2sub1[(data.year2sub1.length)-1] %></td>
            </tr>
        </table>
        <h2>YEAR2 Second semaster Table</h2>
        <table id="customers">
            <tr>
              <th>Subject</th>
              <th>Creidit</th>
              <th>Grade</th>
            </tr>
            <tr>
              <% for(var i=0; i<(data.year2sub2.length)-1; i+=3) {%>
                <tr>
                  <td><%= data.year2sub2[i] %></td>
                  <td><%= data.year2sub2[i+1] %></td>
                  <td><%= data.year2sub2[i+2] %></td>
                </tr>
              <% }%>
            </tr>
            <tr>
              <td></td>
              <td>GPA</td>
              <td><%= data.year2sub2[(data.year2sub2.length)-1] %></td>
            </tr>
        </table>
    </body>
</html>