<!DOCTYPE html>
<html>
    <head>
        <title>homepage</title>
        <link rel="stylesheet" href="../views/homepage.css">
    </head>
    <body>
        <ul>
        <img src="../picture/logo 3.png" width="134.76" height="46.43" >
        <li><a class="active" href="/logout">LOGOUT</a></li>
        <li><a href="/data">DATA EDITTING</a></li>
        <li><a href="/grade">GRADE</a></li>
        <li><a href="#contact">SEARCH</a></li>
        </ul>
          <div class="row">
              <div class="column" style="background-color: rgb(63, 63, 63);">
                <image src="../picture/student.jpg" width="50%" height="50%">
              </div>
              <div class="column1">
                <p></p>
              </div>

              <div class="column2" style="background: linear-gradient(to left, rgb(223, 223, 223), rgb(179, 179, 179));">
                <p>Student data</p>
                <p>Student ID : <%= data.id %></p>
                <p>Name       : <%= data.name %></p>
                <p>Nick name    : <%= data.nickname %></p>
                <p>CDTI Email      : <%= data.email %></p>
                <p>Personal Email      : <%= data.personalemail %></p>
                <p>Tel        : <%= data.tel %></p>
                <p>Line ID    : <%= data.line %></p>
                <p>Address: <%= data.addr %></p>
                <p>Food allergy: <%= data.food %></p>
                <p>Personal disease: <%= data.health %></p>
              </div>

              <div class="column3">
                <p></p>
              </div>

              <div class="column1">
                <p></p>
              </div>

              <div class="column2" style="background: linear-gradient(to left, rgb(223, 223, 223), rgb(179, 179, 179));">
                <p>Grade</p>
                <p>GPAX: <%= data.gpax %></p>
              </div>

            </div>
    </body>
</html>


